<launch>

	<node pkg="goodgame" name="log_deep_rt" type="log_deep_handle.py" output="screen">

	</node>

	<node pkg="goodgame" name="log_classifiers" type="log_classifiers.py" output="screen">

	</node>

	<include file="$(find astra_launch)/launch/astra.launch" >

	</include>   

	<include file="$(find dira_peripheral_controller)/launch/dira_peripheral_controller.launch">

	</include>   

	<include file="$(find dira_pca9685_controller)/launch/run_car.launch">

	</include> 

	<node pkg="goodgame" name="read_input" type="get_frames.py" output="screen">

	</node>

</launch>
