<!--

rtabmap localization and odometry.
Please make sure that obbrec astra camera is running before launching
rtab_map.

``` roslaunch astra_launch astra.launch ```

For information about navigation, please take a look
at rtab_map_navigation.launch.

Copyright (c) Dat Vu, 2020
All Rights Reserved

Email: stephen.t.vu@hotmail.com

-->

<launch>

    <!--    launch file arguments   -->
    <arg name="verbose"              	    default="true" />

    <arg name="rgb_topic"               	default="/camera/rgb/image_rect_color" />
    <arg name="depth_topic"             	default="/camera/depth_registered/image_raw" />
    <arg name="camera_info_topic"       	default="/camera/rgb/camera_info" />
    <arg name="depth_camera_info_topic" 	default="/camera/depth/camera_info" />
    
    <node pkg="tf" type="static_transform_publisher" name="static_tf_astra_rplidar" args="0.125 0.09 -0.08 -1.5 0.0 -1.34 laser camera_link 100" respawn="true"/> <!-- 10Hz-->
    
    <!-- DO NOT CHANGE. Align "astra_laser_link" with "laser" by inverting the axis of "astra_link"-->
    <node pkg="tf" type="static_transform_publisher" name="static_tf_astra_inverted_link" args="0.0 0.0 0.0 1.57 -1.57 0.0 camera_link astra_laser_link 100" respawn="true"/> <!-- 10Hz-->


    <!--    point cloud to laser scan-->
    <!-- <node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan_node" type="pointcloud_to_laserscan_node" output="screen" >

        <remap from="cloud_in" to="/zed/point_cloud/cloud_registered" />
        <remap from="scan" to="/laser_scan" />

        <param name="min_height"            type="double"   value="0.25"        />
        <param name="max_height"            type="double"   value="1.75"        />
        <param name="target_frame"          type="string"   value="laser_base"  />
        <param name="range_min"             type="double"   value="0.15"        />
        <param name="range_max"             type="double"   value="15.00"       />
        <param name="use_inf"               type="boolean"  value="true"        />
        <param name="concurrency_level"     type="int"      value="1"           />

    </node> -->

    <!--    RTAB-map Node   -->
    <include file="$(find mapping)/launch/rtabmap_modified.launch">

        <!--    mapping mode   -->
        <arg name="rtabmapviz"              value="false" />
        <arg name="rviz"                    value="true" />
        <arg name="frame_id"                    value="laser"               />

        <!-- <arg name="localization"                value="false"                           />
        <arg name="publish_tf_map"              value="false"                           />
        <arg name="visual_odometry"             value="false"                           />
        <arg name="odom_topic"                  value="/odom"      /> -->

        <!-- <arg name="rgb_topic"               	value="/$(arg rgb_topic)" />
        <arg name="depth_topic"             	value="/$(arg depth_topic)" />
        <arg name="camera_info_topic"       	value="/$(arg camera_info_topic)" />
        <arg name="depth_camera_info_topic" 	value="/$(arg depth_camera_info_topic)" />
        <arg name="frame_id"                    value="camera_link"               />
        <arg name="approx_sync"                 value="true"                            />
        <arg name="initial_pose"                value="0.0,0.0, 0.0, 0.0, 0.0, 0.0"  />  -->
        
        <!-- 1.6764 -->

        <!--    laser scans and point clouds    -->
        <arg name="subscribe_scan"              value="true" />
        <arg name="scan_topic"                  value="/scan" />

        <!--    optimizing parameters for ground detection-->
        <param name="Grid/MaxGroundAngle"       type="string"   value="48" />
        <param name="Grid/CellSize"             type="string"   value="0.05" />
        <param name="Grid/ClusterRadius"        type="string"   value="0.15" />
        <param name="Grid/RangeMax"             type="string"   value="12" />
        <param name="Grid/DepthRoiRatios"       type="string"   value="0.0 0.0 0.0 0.050" />

    </include>

</launch>